<div class="main-div">
  <mat-card class="mat-elevation-z5">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" style="width: 100%">
        <input type="text" placeholder="Alege un judet" aria-label="Judet" matInput formControlName="county" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let countyObject of filteredOptions | async" [value]="countyObject.name">
            {{countyObject.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls['county'].errors != null">Niciun judet selectat</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Interval notificari</mat-label>
        <mat-select formControlName="timeInterval">
          <mat-option *ngFor="let timeInterval of allowedTimeIntervals" [value]="timeInterval.value">
            {{timeInterval.viewValue}}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label>Introdu o perioada</mat-label>
        <mat-date-range-input  [rangePicker]="picker" [min]="minDate" [max]="">
          <input matStartDate formControlName="dateFrom" placeholder="Data inceput" >
          <input matEndDate formControlName="dateTo" placeholder="Data sfarsit">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="formGroup.controls['dateFrom'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="formGroup.controls['dateTo'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

      <div id="button-container" style="text-align: center; margin-top: 1rem">
       <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="primary" style="width : 10em" (click)="start()">Start!</button>
      </div>

    </form>
  </mat-card>

</div>
<!--<button (click)="checkAvailability(67)"></button>-->

